
* {
    box-sizing: border-box;
    
}
body {
    width: 100%;
    margin: 0px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    position: relative;
    /*padding: 100px;*/
    /*border: 1px solid red;*/
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
section::after { /* use section for row or <div class="row"></div>*/
    content: "";
    clear: both;
    display: table;
}

#home-page {
    height: 100%;    
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    background: linear-gradient(to bottom, #3494e6,#26d0ce , #ec6ead);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    background: #ffffff;
    border: 4px solid pink;
}
header {
    padding-left: 2em;
    padding-right: 2em;
    height:15vh;    
    background-color: transparent;
    
}
#top-nav {
    text-align: center;
    margin: auto;
}
#top-nav ul{
    margin: auto;
    padding: 0.4em;
}
#top-nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 2.5em;
    font-size: 2em;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    
}
#top-nav li a{
    text-decoration: none;
    color: #692E49;
}

#top-nav li a:hover {
    border-bottom: 4px solid #ffa6a6;
    opacity: 0.7;
}
a:visited {
    color: #252233;
}
.main-view {
    height: 60vh;
    
    padding: 10%;
    background-image: url("../../images/bulb5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.banner-text {
    
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 0.5;
    color: #252233;
    text-align: right;
    margin-top: -80px;
    
}
.banner-text-poss {
    font-weight: 600;
    font-size: 50px;
    
}
#banner-text-web {
    font-weight: 700;
    font-size: 80px;

}

.intro-text {
    height:25vh;
}

.intro-text p{
    padding-left: 8%;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #252233;
    /*position: relative;*/
    /*right: 20px;*/
}

#about-me {
    height: 100%;
    border: 4px solid pink;
    color: #ffa6a6;
    background: linear-gradient(to bottom, #e55d87,#02AAB0, #5fc3e4);
    padding: 1%;
    background-image: url("../../images/girl.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.about-me-box {
    float: right;
    /*margin: 0px;*/
    text-align: center;

}
.about-me-content {
    font-family: 'Signika', sans-serif;
    /*border: 4px solid green;*/
}
#about-me-text p{
    margin: auto;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    color: #e55d87;
    /*border: 4px solid green;*/
}
.about-me-content ul{
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
    /*text-align: center;*/
}
.about-me-content ul li{
    font-size: 1.5em;
    padding: 0.2em;
}
#about-me-body p{
    padding: 0.3em;
    /*color: #692E49;*/
    color: #863B5D;
    font-weight: 600;
    font-size: 1.75em;
}
#about-me-footer {
    padding: 0.5em;
    /*margin: auto;*/
}
.button {
    color: #252233; /*text*/
    padding: 1em;
    margin: 0.5em;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0px);
    /*box-shadow: inset 0px 0px 0px 4px #e1e1e1, 0px 0px 1px transparent;*/
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.button:hover{
    background: none;
}
.pink {
    background: #e684ae;
    box-shadow: inset 0px 0px 0px 4px #e684ae, 0px 0px 1px transparent;
}
.yellow {
    background: #F0D27A;
    box-shadow: inset 0px 0px 0px 4px #F0D27A, 0px 0px 1px transparent;
}
.orange {
    background: #FC803B;
    box-shadow: inset 0px 0px 0px 4px #FC803B, 0px 0px 1px transparent;
}
.red {
    background: #F37676;
    box-shadow: inset 0px 0px 0px 4px #F37676, 0px 0px 1px transparent;
}
#work-life {
    height: 100%;
    border: 4px solid pink;
    background: linear-gradient(to bottom, #77a1d3, #79cbca, #e684ae);
}
#contact-me {
    height: 100%;
    border: 4px solid pink;
      background: linear-gradient(to bottom, #dd5e89, #4cb8c4, #3494e6);
}